<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" name="Suite1" parallel="tests">
  <test thread-count="10" name="TestPractice" parallel="tests">
    <classes>
      <class name=".UntitledTestCase"/>
    </classes>
  </test> <!-- TestPractice -->
</suite> <!-- Suite1 -->
