<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite1" >
  <test thread-count="2" name="TestPractice" parallel="none" >
    <classes>
      <class name="com.learn.automation.tests.Test1">
        <methods>
            <exclude name="testExclude"/>
            <exclude name="openPageTest"/>
        </methods>
      </class>
        <class name="com.learn.automation.tests.alert.CheckAlertBox"/>
        <class name="com.learn.automation.tests.dynamic.TestDropDown"/>
        <class name="com.learn.automation.tests.drag.TestDrag"/>
    </classes>
  </test> <!-- TestPractice -->
</suite> <!-- Suite1 -->